<a href="https://colab.research.google.com/github/Alexxakiode/Introduction-to-Machine-Learning/blob/main/Bank_Loan_Approval_Prediction_Multiple_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PREPARING THE DATA LOADING PROCEDURE

Establishing conditions to ensure clear and smooth code run

In [ ]:
!pip install shutup

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting shutup
  Downloading shutup-0.2.0-py3-none-any.whl (1.5 kB)
Installing collected packages: shutup
Successfully installed shutup-0.2.0

In [ ]:
import shutup;shutup.please()
#import warnings
#warnings.filterwarnings("ignore", category=DeprecationWarning)

In [ ]:
#IMPORTING PYTHON LIBRARY
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
from sklearn import preprocessing

LOADING THE DATA

In [ ]:
!gdown <"bank-full.csv">

/bin/bash: -c: line 0: syntax error near unexpected token `newline'
/bin/bash: -c: line 0: `gdown <"bank-full.csv">'

In [ ]:
!pip install --upgrade --q --no-cache-dir gdown

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Loading the dataset for exploration
bank_details = pd.read_csv("/content/drive/MyDrive/ML Assignment/bank-full.csv")

In [ ]:
# Displaying the first 5 lines of the dataset
bank_details.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [ ]:
# Displaying the last 5 lines of the dataset
bank_details.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [ ]:
bank_details = bank_details.drop(["contact", "campaign","poutcome", "pdays", "previous", "day", "month"], axis=1)

In [ ]:
bank_details

,age,job,marital,education,default,balance,housing,loan,duration,Target
0,58,management,married,tertiary,no,2143,yes,no,261,no
1,44,technician,single,secondary,no,29,yes,no,151,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,76,no
3,47,blue-collar,married,unknown,no,1506,yes,no,92,no
4,33,unknown,single,unknown,no,1,no,no,198,no
...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,977,yes
45207,71,retired,divorced,primary,no,1729,no,no,456,yes
45208,72,retired,married,secondary,no,5715,no,no,1127,yes
45209,57,blue-collar,married,secondary,no,668,no,no,508,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,361,no

In [ ]:
bank_details = bank_details.query('education != "unknown"')
bank_details

,age,job,marital,education,default,balance,housing,loan,duration,Target
0,58,management,married,tertiary,no,2143,yes,no,261,no
1,44,technician,single,secondary,no,29,yes,no,151,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,76,no
5,35,management,married,tertiary,no,231,yes,no,139,no
6,28,management,single,tertiary,no,447,yes,yes,217,no
...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,977,yes
45207,71,retired,divorced,primary,no,1729,no,no,456,yes
45208,72,retired,married,secondary,no,5715,no,no,1127,yes
45209,57,blue-collar,married,secondary,no,668,no,no,508,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,361,no

In [ ]:
#Converting categorical features to numerical features for regression
bank_details['default'] = bank_details['default'].map({'no':0, 'yes':1})
bank_details['housing'] = bank_details['housing'].map({'no':0, 'yes':1})
bank_details['loan'] = bank_details['loan'].map({'no':0, 'yes':1})
bank_details['Target'] = bank_details['Target'].map({'no':0, 'yes':1})

EXPERIMENT 3

Problem 1C: To predict if customers bank account balance, housing status, default status, existing loan and duration of loan will determine ability to get loan or notâ€“ Multiple Regression

USING MULTIPLE REGRESSION MODEL

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [ ]:
#Defining the features and the label
X = bank_details[['default','balance','housing','loan']]
y = bank_details ['Target']

In [ ]:
X

       default  balance  housing  loan
0            0     2143        1     0
1            0       29        1     0
2            0        2        1     1
5            0      231        1     0
6            0      447        1     1
...        ...      ...      ...   ...
45206        0      825        0     0
45207        0     1729        0     0
45208        0     5715        0     0
45209        0      668        0     0
45210        0     2971        0     0

[43354 rows x 4 columns]

In [ ]:
y

0        0
1        0
2        0
5        0
6        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: Target, Length: 43354, dtype: int64

In [ ]:
#Splitting and training the data for test and train purpose
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X,y, test_size=0.3, random_state=1)

#Defining the Model
Loan_approval_model = LinearRegression()
Loan_approval_model

LinearRegression()

In [ ]:
#Multiple regression
# with sklearn
Loan_approval_model = LinearRegression()
Loan_approval_model.fit(X, y)

print('Intercept: \n', Loan_approval_model.intercept_)
print('Coefficients: \n', Loan_approval_model.coef_)

Intercept:
 0.168319497589155
Coefficients:
 [-4.20723639e-02  3.78612447e-06 -8.58908855e-02 -5.08824719e-02]

In [ ]:
pred = Loan_approval_model.predict(X_test)

In [ ]:
Loan_approval_model.predict(X)

array([0.09054228, 0.08253841, 0.03155371, ..., 0.1899572 , 0.17084863,
       0.17956807])

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
print("Model Coefficients:", Loan_approval_model.coef_)
print("Mean Absolute Error:", mean_absolute_error(y_test, pred))
print("Coefficient of Determination:", r2_score(y_test, pred))

Model Coefficients: [-4.20723639e-02  3.78612447e-06 -8.58908855e-02 -5.08824719e-02]
Mean Absolute Error: 0.19903361455658253
Coefficient of Determination: 0.024398865463963415

In [ ]:
# #To verify if it is better to approve loan or not  
# #When default=0, balance=44000, housing=1, loan=0

y = (0.168319497589155) + (-4.20723639e-02)* 0 + (3.78612447e-06)* 44000 + (-8.58908855e-02)* 1 + (-5.08824719e-02)* 0
y

0.249018088769155